doctype html
html
  head
    meta(http-equiv="Content-Type" ,content="text/html; charset=utf-8")
    block title
      title kkito的博客
    link(href=url('/css/g.css'), rel='stylesheet')
    script(src="/js/jquery/js/jquery.min.js")
    script(src="/js/react/js/react.min.js")
    script(src="/js/react/js/JSXTransformer.js")
    script(src="/js/main.js")
    script.
      $(function(){
        LettuceUtils.makeExternalLinkNewTab();
      })
  body
    .head
      ul
        li
          a(href=url("/")) 首页
    .body
      block content
    .footer
    include ./includes/highlightjs.jade
