// it need jquery support 
script(src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js")
link(href=url('//cdn.jsdelivr.net/highlight.js/8.4/styles/monokai_sublime.min.css'), rel='stylesheet')
script.
  hljs.initHighlightingOnLoad();
  $('pre').each(function(i, block) {
    hljs.highlightBlock(block);
  });

