extends ./_layout/layout
block content
  // each post in _postItems.data.reverse()
  //   li
  //     a.tl(href=post.url())= post.title
  #indexlist
  script(type="text/jsx" src="/js/react.js")
  script(type="text/jsx").
    React.render(
      <IndexPosts posts={!{JSON.stringify(_postItems.links().reverse())}} />,
      document.getElementById('indexlist')
    );


