body {
    font-size: medium;
    max-width: 1280px;
    margin: 0 auto;
    line-height: 1.4em;
    a {
        text-decoration: underline;
    }
    .post-list {
        .pages {
            ul {
                display: none;
            }
            .current {
                display: block;
            }
        }
        .idx {
            list-style-type: none;
            li {
                display: inline-block;
                width: 2em;
                cursor: pointer;
                text-align:center;
                padding: 0.2em;
                margin:0em 0.5em;
                border:1px solid #42d203;
            }
            .omit{
                border:none;
                margin: 0em;
                padding: 0em;
                width: 1em;
            }
            .current{
                background-color: #42d203;
            }
        }
    }
    .db-blog-item {
        line-height: 1.8em;
        letter-spacing: 0.03rem;
        margin-bottom: 6rem;

        h2 {
            text-align: center;
            font-size: 2em;
        }
        h3 {
            margin-top: 1.5em;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #ECECEC;
        }
        p {
            margin-top: 0em;
            margin-bottom: 1em;
        }
        a {
            color: #0099EE;
        }

        code {
            background-color: #f3f1f1;
            padding: 0.2rem 0.5rem;
            border-radius: 0.4rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        blockquote {
            border-left: 0.3rem solid #ECECEC;
            padding-left: 1rem;
            margin-left: 0em;
        }
    }
}
